:root {
  --white: #ffffff;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  
}
body {
  background-color: #202023;
}
.header {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.hero {
  background-image: url(../images/font\ header.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 155px;
  padding-bottom: 33px;
  position: relative;
}

.list-header {
  display: flex;
  gap: 20px;
}
.item-nav {
  font-family: "inter";
  font-weight: 200;
  color: var(--white);
  line-height: 100%;
}
.h1-header {
  font-family: "Inter";
  font-weight: 200;
  font-size: 70px;
  color: var(--white);
  margin-bottom: 22px;
  max-width: 560px;
}
.text {
  font-family: "Inter";
  font-weight: 300;
  font-size: 21px;
  color: var(--white);
  line-height: 100%;
  margin-bottom: 33px;
  max-width: 560px;
}
.button {
  padding: 16px 33px;
  border-radius: 17px;
  background-color: #b47b48;
  margin-bottom: 125px;
}
.a-button {
  font-family: "Inter";
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--white);
}
.list-hero {
  display: flex;
  justify-content: space-between;
}
.item-hero {
  background-color: #272727;
}
.item-hero:nth-child(1) {
  display: flex;
  justify-content: space-between;
  width: 310px;
  height: 225px;
}
.item-hero:nth-child(2) {
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 225px;
}
.item-hero:nth-child(3) {
  display: flex;
  justify-content: space-between;
  width: 350px;
  height: 225px;
}
.item-hero:nth-child(1)::before {
  content: "";
  width: 162px;
  height: 225px;
  display: block;
  background-image: url(../images/cookie.png);
  background-color: #272727;
  background-repeat: no-repeat;
  background-position: center;
}
.item-hero:nth-child(2)::before {
  content: "";
  width: 250px;
  height: 225px;
  display: block;
  background-image: url(../images/croissan.png);
  background-color: #272727;
  background-repeat: no-repeat;
  background-position: center;
}
.item-hero:nth-child(3)::before {
  content: "";
  width: 199px;
  height: 225px;
  display: block;
  background-image: url(../images/tarte.png);
  background-color: #272727;
  background-repeat: no-repeat;
  background-position: center;
}

.h4-hero {
  font-family: "Inter";
  font-weight: 200;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: var(--white);
  margin-top: 51px;
}
.p-hero {
  text-align: center;
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  color: var(--white);
  margin-top: 13px ;
}
.btn {
  width: 79px;
  height: 34px;
  display: block;
  font-family: "Inter";
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  background-color: #c85312;
  margin: 35px auto;

 

}
.btn > a {
  color: var(--white);
}
.menu {
  background-color: #202023;
  padding-bottom: 73px;
 
}
.h2-menu {
  font-family: "Inter";
  font-weight: 100;
  font-size: 64px;
  line-height: 100%;
  color: var(--white);
  text-align: center;
  margin-top: 21px;
  margin-bottom: 18px;
}
.list-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item-menu{
  margin-right: 198px ;
  
}
.item-menu:nth-child(2n){
  margin-right: 0px;
}
.h3-menu {
  font-family: "Inter";
  font-weight: 800;
  font-size: 25.92px;
  line-height: 100%;
  color: var(--white);
  text-align: center;
}
.div-menu {
  border: 1px solid var(--white);  
  width: 328px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.image-first{
 height: 239px;
 width: 328px;
}
.button-menu {
  
  display: block;
  border-radius: 17px;
  background-color: #b47b48;
  font-family: "Inter";
  font-weight: 800;
  font-size: 25.92px;
  line-height: 100%;
  color: var(--white);
  text-align: center;
  padding: 5px 45px;
  margin: 0 auto;
  
}
.villains {
  display: block;
  background-image: linear-gradient(89.59deg, #000000 8.49%, #03030300),
    url(../images/font-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 56px  ;
  padding-top: 54px ;
}
.h2-villains {
  font-family: "Italiana";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #d9d9d9;
  margin-bottom: 110px ;
   margin-right: 500px;
}
.h3-villains {
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: var(--white);
}
.list-villains {
  display: flex;
  justify-content: space-between;
}
.item-villains:nth-child(1)::before {
  content: "";
  width: 219px;
  height: 183px;
  display: block;
  background-image: url(../images/order.png);
  margin-bottom: 10px;
}
.item-villains:nth-child(2)::before {
  content: "";
  width: 218px;
  height: 194px;
  display: block;
  background-image: url(../images/fresh-food.png);
  margin-bottom: 13px;
}
.item-villains:nth-child(3)::before {
  content: "";
  width: 218px;
  height: 183px;
  display: block;
  background-image: url(../images/hotel.png);
  margin-bottom: 9px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  background-color: #202023;
  padding-bottom: 50px ;
  padding-top:66px ;
}
.navigation-flex {
  display: flex;
  justify-content: space-between;
  
}
.h2-item-navigation {
  font-family: "Inter";
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: var(--white);
}
.h2-navigation {
  font-family: "Italiana";
  font-size: 48px;
  font-weight: 400;
  line-height: 100%;
  color: var(--white);
}
.h2-how {
  margin-top: 114px;
  text-align: left;
}
.h2-when {
  margin-top: 119px;
}
.h2-navigation::after {
  content: "";
  width: 535px;
  height: 487px;
  display: block;
  background-image: url(../images/navigation.png);
  margin-top: 44px;
}
.text-navigation {
  font-family: "Inter";
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  color: var(--white);
}
.text-navigation-how {
  font-family: "Inter";
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  color: var(--white);
  margin-top: 49px ;
  margin-bottom: 65px ;
}
.text-navigation-when {
  font-family: "Inter";
  font-weight: 200;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: var(--white);
  margin-top:40px ;
}
.footer {
  background-color: #202023;
  padding-bottom: 44px;
  padding-top: 40px;

}
.div-footer {
  display: flex;
  align-items: center;
}
.list-footer {
  display: flex;
  justify-content: space-between;
  gap: 120px;
}
.footer-title {
  font-family: "Inter";
  font-weight: 200;
  font-size: 40px;
  line-height: 100%;
  color: var(--white);
  margin-bottom: 16px ;
  margin-right: 77px ;
}
.p-footer {
  font-family: "Inter";
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  color: var(--white);
}
.a-footer {
  display: inline-block;
  font-family: "Inter";
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: var(--white);
  margin-bottom: 41px ;
  
}
.text-footer {
  
  font-family: "Inter";
  font-weight: 300;
  font-size: 24px;
  line-height: 100%;
  color: var(--white);
}

.time {
  font-family: "Inter";
  font-weight: 100;
  font-size: 20px;
  line-height: 100%;
  color: var(--white);
  display: block;
  margin-top: 85px  ;
  text-align: center;
}
.stars {
  background-color: #202023;
  padding-bottom: 48px;
  padding-top: 90px;
  background-image: url(../images/Group\ 54\ \(1\).png);

}
.h2-stars {
  font-family: "Italiana";
  font-weight: 400;
  font-size: 64px;
  line-height: 100%;
  color: var(--white);
  text-align: center;
  
  margin-bottom:14px  ;
 
}
.number{
  background-color: gray;
}
.item-number:nth-child(1){
  padding-top: 32px;
}
.item-number:nth-child(4){
  padding-bottom: 50px;
}
.list-number::before {
 content: "";
 display: inline-block;
 width: 355px;
height: 223px;
background-image: url(../images/bread.png);
background-repeat: no-repeat;
 
}
.list-stars-number{
  margin-top: 84px;
  margin-left: 32px ;
  margin-right: 90px ;
}
.list-stars-number::before {
  content: "";
  display: inline-block;
  width: 355px;
 height: 223px;
 background-image: url(../images/cookies-Menu.png);
 background-repeat: no-repeat;
}
.list-number-last{
  margin-top: 123px ;
}
.list-number-last::before {
  content: "";
  display: inline-block;
  width: 355px;
 height: 223px;
 background-image: url(../images/tarte-Menu.png);
 background-repeat: no-repeat;
 
}
.list-stars {
  display: flex;
 }

.item-number {
  font-family: "Inter";
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: var(--white);
 }
