.footer {
  @extend %flex;
  &__container {
    background-color: #202023;
    padding-bottom: 44px;
    padding-top: 40px;
  }

  &__title {
    font-family: "Inter";
    font-weight: 200;
    font-size: 40px;
    color: var(--white);
    line-height: 100%;
    letter-spacing: 0%;
    margin-bottom: 16px;
    margin-right: 77px;
  }
  &__prétitle {
    @extend %text;
    color: var(--white);
  }
  &__list {
    @extend %flex;
    gap: 120px;
  }
  &__link {
    display: inline-block;
    @extend %text;
    text-align: center;
    color: var(--white);
    margin-bottom: 41px;
  }
  &__text {
    line-height: 100%;
    letter-spacing: 0%;
    @extend %text;
    color: var(--white);
  }
}
.time {
  font-family: "Inter";
  font-weight: 100;
  font-size: 20px;

  color: var(--white);
  display: block;
  margin-top: 85px;
  text-align: center;
}
