.header {
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  &__nav__list {
  @extend %flex;
  gap: 70px;
}
&__nav__item {
  font-family: "inter";
  font-weight: 200;
  color: var(--white);
}
}
