.menu {
  background-color: #202023;
  padding-bottom: 73px;
  &__title {
    font-family: "Inter";
    font-weight: 100;
    font-size: 64px;
    color: var(--white);
    text-align: center;
    margin-top: 21px;
    margin-bottom: 18px;
  }
  &__list {
    @extend %flex;
    flex-wrap: wrap;
  }
  &__item {
    margin-right: 198px;
  }
  &__item:nth-child(2n) {
    margin-right: 0px;
  }
  &__info {
    border: 1px solid var(--white);
    width: 328px;
    height: 300px;
    @extend %flex;
    flex-direction: column;
    justify-content: center;
  }
  &__name {
    font-family: "Inter";
    font-weight: 800;
    font-size: 25.92px;
    color: var(--white);
    text-align: center;
  }
  &__button {
    @include button(
      $display: block,
      $family: "Inter",
      $weight: 800,
      $size: 25.92px,
      $bg: #b47b48,
      $color: var(--white),
      $border: #b47b48
    );
    border-radius: 17px;
    text-align: center;
    padding: 5px 45px;
    margin: 0 auto;
  }
}
.image__first {
  height: 239px;
  width: 328px;
}
