.navigation {
  @extend %flex;
  background-color: #202023;
  padding-bottom: 50px;
  padding-top: 66px;
  &__container {
    @extend %flex;
  }
  &__party__first {
    font-family: "Italiana";
    font-size: 48px;
    font-weight: 400;
    color: var(--white);
  }
  &__image {
    margin-top: 44px;
  }
  &__party__seconds {
    font-family: "Inter";
    font-weight: 400;
    font-size: 40px;

    color: var(--white);
  }
  &__text {
    @extend %text;
    color: var(--white);
    line-height: 100%;
    letter-spacing: 0%;
  }
}

.party__seconds__title {
  margin-top: 114px;
  text-align: left;
}
.party__seconds__text {
  @extend %text;
  color: var(--white);
  margin-top: 49px;
  margin-bottom: 65px;
}

.party__last__text {
  @extend %text;
  text-align: center;
  color: var(--white);
  margin-top: 40px;
}
