.villains {
  display: block;
  background-image: linear-gradient(89.59deg, #000000 8.49%, #03030300),
    url(../images/font-main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 56px;
  padding-top: 54px;
}
.villains-h2 {
  font-family: "Italiana";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  color: #d9d9d9;
  margin-bottom: 110px;
  margin-right: 500px;
}
.villains-h3 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: var(--white);
  margin-top: 10px;
  text-align: center;
}
.villains-list {
  display: flex;
  justify-content: space-between;
}
.order {
  margin-left: 87px;
}
